.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}

.encabezado{
    font-weight: bolder;
    text-align: center;
}

.tabla-tareas{
    border: solid 1px #000;
}

tr, td, th{
    border: solid 1px #000;
}