.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}

.encabezado{
    font-weight: bolder;
    text-align: center;
}

.tabla-tareas{
    border: solid 1px #000;
}

tr, td, th{
    border: solid 1px #000;
    padding: 0.5em;
}

.campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.campo button{
    font-size: medium;
    padding: 0.5em;
}

.agregar-tarea{
    border: 1px solid #000;
    padding-left: 1em;
    width: 12.5vw;
}

.btn-eliminar{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: medium;
}

.btn-ordenar{
    height: 3em;
    width: 40%;
    margin-bottom: 1em;
    display: block;
    font-size: medium;
}

.btn-marcar{
    margin-left: 5px;
    font-size: medium;
}

.marcada{
    background-color: #ff000f;
}